<header>
  <div class="header-grid">
    <div class="title-container">
      <p>Daniel Rhodes</p>
    </div>
    <div class="subtitle-container">
      <p>WEB & UX Developer</p>
    </div>
    <div class="nav-container">
      <nav>
        <ul>
          <li>
            <p>Projects</p>
          </li>
          <li>
            <p>About</p>
          </li>
          <li>
            <p>Contact</p>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-line"></div>
  </div>
</header>